body{
    font-family: Arial, Helvetica, sans-serif;
}

.danger.sign, .warning.sign, .caution.sign, .notice.sign, .safety.sign{

    height: auto;
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;;
    
}

.danger, .warning, .caution, .notice, .safety{
    text-align: center;

}

.para{
    text-align: center;
    background-color: red;
    font-size: 36px;
}
